* {
  border: none;
  border-radius: 1px;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 16px;
  min-height: 16px;
}

window#waybar {
  background: #053b50;
}

window#waybar.hidden {
  opacity: 0.2;
}

#custom-arch,
#network,
#custom-lyric,
#custom-netspeed,
#pulseaudio,
#battery,
#backlight,
#clock,
#bluetooth,
#tray,
#custom-power,
#workspaces,
#taskbar,
#custom-notification {
  margin-left: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 0px;
  border-radius: 6px;
  transition: none;
  background-color: #9ac8cd;
}

#custom-lyric {
  font-size: 28px;
}

#taskbar {
  background: none;
}

#workspaces button.active {
  border-radius: 8px;
  background-color: #4d869c;
}

#taskbar button.active {
  background-color: #4d869c;
  border-radius: 8px;
}

#window {
  /* margin-left: 80px; */
  color: white;
}
