* {
  border: none;
  border-radius: 1px;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 20px;
  min-height: 20px;
}

window#waybar {
  background: #053b50;
}

window#waybar.hidden {
  opacity: 0.2;
}

#custom-arch,
#network,
#custom-lyric,
#custom-netspeed,
#pulseaudio,
#battery,
#backlight,
#clock,
#bluetooth,
#tray,
#custom-power,
#workspaces,
#taskbar,
#custom-notification {
  margin-left: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background-color: #9ac8cd;
}

#taskbar {
  background: none;
}

#workspaces button.active {
  border-radius: 10px;
  background-color: #4d869c;
}

#taskbar button.active {
  background-color: #4d869c;
  border-radius: 10px;
}

#window {
  margin-left: 80px;
  color: white;
}
